<h2>User Profile</h2>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <h3>Name: <%= @user.name %></h3>
      <h3>Email: <%= @user.email %></h3>
      <br>
      <small>
        <%= pluralize(@user.wikis.count, 'wiki') %> created.
      </small>
    </div>
    <br>
    <br>
  </div>

  <div class="col-md-8">
    <% if current_user.standard? %>
      <%= link_to "Upgrade to Premium", new_charge_path,  class: 'btn btn-success' %>
    <% else %>
      <%= link_to "Downgrade to Standard", @user, method: :downgrade,  class: 'btn btn-danger', data: {confirm: "Are you sure you want to downgrade? All your wikis will become public right away."}  %>
    <% end %>
  </div>
</div>
